@model prjhouse.Models.Product

@{
    ViewData["Title"] = "create";
}
@section style{
    <link rel="stylesheet" href="~/css/create.css">
}

<h1>新增房屋</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="aui-info">
            <img src="@Url.Content("~/images/Customer/Member/photo.png")" id="img-txz" style="width:150px;height:150px;border-radius:80px" class="aui-img-round user-img " />
            <input type="file" accept="image/*" id="file-txz" name="photo" onchange="upload('#file-txz','#img-txz');" class="fileInput " value="" />
            <span class="sapnphoto">上傳房子照</span>
            </div>
            @*<input type="hidden" value="@Model.MemberPhotoFile" name="MemberPhotoFile" />*@
              <div class="div1">
                           @* <input id="MemberName" type="text" class="input" value="@ViewBag.Name" name="MemberName"  />*@
                <input id="MemberName" type="text" class="input" value="" name="HouseName" />
              </div>
               <span class="text3"> 
            <p class="text4">房屋位置</p>
             </span>
                     <div class="display">
                         <div class="div2">
                    <select type="text " id="city" class="input" name="HouseAddressCity">
                                <option></option>
                                 </select>
                         </div>
                         <div class="div2">
                    <select type="text " id="area" class="input" name="HouseAddressArea">
                        <option></option>
                                </select>
                        </div>
                    </div>
                    <div class="dashed"></div>
           
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="@Url.Content("~/js/taiwan_districts.js")"></script>
    <script>

         var upload = function (c, d) {                        //圖片點擊 預覽
            "use strict";
            var $c = document.querySelector(c),
                $d = document.querySelector(d),
                file = $c.files[0],
                reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = function (e) {

                $d.setAttribute("src", e.target.result);
            };
        };


        for (let item of data) { $("#city").append(`<option>${item.name}</option>`); }   //載入地區名

        $("#city").change(function () {
            $("#area").find("option").remove();
            let city = $(this).val();
            for (let item of data) {
                if (city == item.name) {
                    for (let district of item.districts)
                        $("#area").append(`<option>${district.name}</option>`);
                    break;
                }
            }
        });














    </script>
}
